@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Roboto', sans-serif;
}

:root {
    --primary: #374151;
}

/* nav */
.nav-link-hover:after {
    content: "";
    position: absolute;
    background-color: var(--primary);
    height: 3px;
    width: 0;
    left: 0;
    bottom: 0;
    transition: 300ms;
}

.nav-link-hover:hover:after {
    width: 100%;
}

.my-input {
    @apply py-1 border-b-[1px] border-primary w-full transition duration-200 focus:px-2 focus:outline-none focus:border-b-2 focus:shadow-md;
}

.my-primary-btn {
    @apply text-white bg-primary border-2 border-primary rounded-lg py-2 px-6 transition duration-300 hover:text-primary hover:bg-white;
}

.my-ghost-btn {
    @apply text-primary bg-white border-2 border-primary rounded-lg py-2 px-6;
}